@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
    font-family: 'Roboto', san-serif !important;
}

h1 {
    font-weight: 500 !important;
    text-align: center;
    color: rgb(90, 89, 89)
}

h2 {
    font-weight: 400 !important;
    text-align: center;
    color: gray;
}

hr {
    border-top: dashed 1mm;
}

/* Navigation Menus */
nav {
    border-color: black;
    border: solid 0.5mm;

    display: flex;
}

nav img {
    width: 1rem;
    height: 1rem;
}

nav > .left {
    flex-grow: 1;
}

nav > .center {
    flex-grow: 1;
}

nav > div {
    margin: 0.5rem 0;
}

nav > div > a {
    margin: 0 1rem;
}

/* Buttons */
.hollow {
    border-color: black;
    border-radius: 1rem;
    border: solid 0.5mm;
    background-color: transparent;
    padding: 0.2rem 1rem;
}

.switch {
    width: 3rem;
    padding: 0;
    border-radius: 1rem;
    border-width: 0;
}

.switch > .select {
    width: 1rem;
    height: 1rem;
    background: white;
    border-radius: 50%;
    margin: 1mm;
    box-shadow: 0.5mm 0.5mm 2mm dimgray;
}

.pause {
    width: 2rem;
    height: 2rem;
}

.block {
    border-radius: 1rem;
    border-width: 0;
    background-color: gray;
    box-shadow: 1mm 1mm 2mm dimgray;
    color: white;
    padding: 0.2rem 1rem;
}

/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

.elegant {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: large;
}

.elegant > .subtitle {
    font-weight: 300;
    font-family: 'Roboto', san-serif;
    font-style: normal;
    font-size: small;
}

.text-3d {
    font-size: large;
    font-weight: 900;
    text-shadow: -0.5mm 0.5mm black, 0 0 0.5mm black;
    color: white;
}

.text-neon {
    --primary-neon-color: #fff;
    --falloff-neon-color: #0fa;

    color: var(--primary-neon-color);
    text-shadow:
        0 0 4px var(--primary-neon-color),
        0 0 11px var(--primary-neon-color),
        0 0 19px var(--primary-neon-color),
        0 0 40px var(--falloff-neon-color),
        0 0 80px var(--falloff-neon-color),
        0 0 90px var(--falloff-neon-color),
        0 0 100px var(--falloff-neon-color),
        0 0 150px var(--falloff-neon-color);
    background-color: black;
    width: fit-content;
}

.gradient {
    background: linear-gradient(to right, red, yellow);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
}

/* Media Cards */
.media-card {
    border-radius: 1rem;
    border-width: 0.1mm;
    border: solid gray;
    width: fit-content;
}

.media-card img {
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.tall {
    width: 12rem;
}

.long {
    height: 12rem;
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
}

.long > main {
    padding: 0 !important;
    padding-left: 1rem !important;
}

.media-card > main {
    padding: 1rem;
    width: fit-content;
}

.media-card > header > img {
    width: -webkit-fill-available;
    border-radius: 0.8rem 0.8rem 0 0;
    border-bottom: solid gray;
}

.media-card > img {
    border-radius: 50%;
}

.media-card h1 {
    text-align: left;
}

/* Helper flex */
.flex {
    display: flex;
    justify-content: space-around;
}